a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 255, 0);
  background-color: transparent;
  text-decoration: underline;
}

 th, td {
  border-style: inset;
  border: 1px solid pink;
  border-radius: 10px;
  background-image: url(images/waves-black.gif);
 }

 h5 {
  color: pink;
  -webkit-text-fill-color: pink; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
}